{
    "extends": "eslint:recommended",
    "rules": {
        "indent": ["error", 4],
        "no-console": "warn",
    },
    "env": {
        "amd": true,
        "browser": true,
        "node": true
    }
}
